body {
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 14px;
    background-color: #83BBCA;
}

ol,
ul {
    list-style: none;

}

#sologan {  
    position: absolute; 
    height: 80px;
    top: 45px;
    left: 350px;
}
#wrap {
    background-color: white;
    width: 960px;
    border: 1px solid #000;
    margin: 0px auto;
}

#inner_wrap {
    background-image: url(../images/inner-wrap_bg.png);
    background-repeat: repeat-x;
}

#inner_wrap:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#main_nav {
    background-color: #63668B;
    height: 35px;
}

#main_nav li {
    float: left;
    width: 120px;
    height: 35px;
    background-color: #7D83A4;
    text-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    line-height: 35px;
}

#main_nav a {
    text-decoration: none;
    color: #FFFFFF;
}

#main_nav a:hover {
    color: red;
}

#side_bar {
    float: left;
    width: 300px;
}

#main {
    float: right;
    width: 600px;
}

#footer {
    background-image: url(../images/footer_background.jpg);
    background-repeat: no-repeat;
    width: 960px;
    height: 118px;
    padding-top: 10px;

}

#side_bar h2, #side_bar h3{
    margin-right: 20px;
    margin-left: 20px;
}
